{% extends 'base.html' %}

{% load static %}

{% block main %}

    <div class="container">
    <div class="center-content">

        <div class="col-8" style="text-align: justify">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.name}}</h5>
                    <p class="card-text">{{ product.description }}</p>

                      {% if product.is_sale %}
                             <!-- Sale badge-->
                            <div class="badge bg-light text-black position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                          <!-- Product reviews-->
                                    <div class="d-flex small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        &nbsp;&nbsp; Sale! &nbsp;&nbsp;
                                        <div class="bi-star-fill"></div>
                                    </div>
                           <!-- Product price-->
                                    <strike>{{ product.price}}</strike>
                                    &nbsp;
                                    {{ product.sale_price }}
                          {% else %}
                          <p class="card-text"><small class="text-body-secondary">{{ product.price}}</small></p>
                      {% endif %}
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>
    </div>



{% endblock %}